{romacd, [
    {num_of_use_head_bits,  32},
    {bit_of_virtual_nodes,   9},
    {timeout,             3000},
    {retry_times,            3},
    {listen_port,        12345},
    {num_of_acceptors,      64},
    {num_of_connections,     3},
    {roma_nodes,[
      {"10.160.56.146",11211},
      {"10.160.56.146",11212},
      {"10.160.56.146",11213}
    ]}
]}.

